.ssm-icon{
    font-size: 32px;
}
html,body{
    height: 100%;
}
.container{
    max-width: 745px;
}
h1,h2,h3,h4,h5{
    font-family: 'Raleway', sans-serif;
}
.banner-h1{
    text-shadow: 2px 2px 5px #00000040;
}
.banner-paw{
    position: relative;
}
.banner-paw::after {
    content: '';
    width: 75px;
    height: 75px;
    background-image: url(../img/elements/pawprint_primary.svg);
    background-position: center;
    background-size: contain;
    position: absolute;
    top: -20px;
    right: 0px;
    z-index: -1;
    transform: rotate(-45deg);
  }
 